<div class="container clr-row clr-justify-content-between">
    <div class="clr-col-4">
        <div class="align-self clr-form-control">
            <label for="select-full" class="clr-control-label">Plattform:</label>
            <div class="clr-control-container">
                <div class="clr-select-wrapper">
                    <select
                        [(ngModel)]="plattformSelect"
                        (change)="plattformChange()"
                        id="select-full"
                        class="clr-select"
                    >
                        <ng-container *ngFor="let plattform of plattforms">
                            <option [value]="plattform">
                                {{ plattform }}
                            </option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-4">
        <div class="clr-form-control">
            <label for="select-full" class="clr-control-label">Select Genre:</label>
            <div class="clr-control-container">
                <div class="clr-select-wrapper">
                    <select
                        [(ngModel)]="categorySelect"
                        (change)="categoryChange()"
                        id="select-full"
                        class="clr-select"
                    >
                        <ng-container *ngFor="let category of categories">
                            <option [value]="category">
                                {{ category }}
                            </option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-4">
        <div class="clr-form-control">
            <label for="select-full" class="clr-control-label">Sort By:</label>
            <div class="clr-control-container">
                <div class="clr-select-wrapper">
                    <select [(ngModel)]="sortSelect" (change)="sortChange()" id="select-full" class="clr-select">
                        <ng-container *ngFor="let sort of sorts">
                            <option [value]="sort">
                                {{ sort }}
                            </option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
