<div class="card width">
    <div class="card-img">
        <img [src]="game.thumbnail" />
    </div>
    <div class="card-block">
        <h5 class="card-text">{{ game.title | maxCharacters }}</h5>
    </div>

    <div class="card-footer">
        <div class="clr-row">
            <a (click)="addToFavorites(game.id)" class="btn btn-outline btn-icon">
                <i
                    [ngClass]="{ 'bi bi-heart-fill': isGameFavorite(game.id), 'bi bi-heart': !isGameFavorite(game.id) }"
                ></i>
            </a>
            <a [routerLink]="['/game', game.id]" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
