@import '/src/styles/colors';
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.btn-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}
