<div>
    <div>
        <app-filters
            (onCategoryChange)="categoryChange($event)"
            (onSortChange)="sortChange($event)"
            (onPlatformChange)="plattformChange($event)"
        ></app-filters>
    </div>
    <div class="container">
        <app-card *ngFor="let game of allGames | pagination : page" [game]="game"></app-card>
    </div>
    <div class="btn-container">
        <button (click)="prevPage()" class="btn btn-outline">Previous</button>
        <button (click)="nextPage()" class="btn btn-primary">Next</button>
    </div>
</div>
