<clr-main-container>
    <clr-header> </clr-header>
    <div class="content-container">
        <main class="content-area">
            <app-spinner *ngIf="spinnerSvc.spinnerStatus$ | async"></app-spinner>
            <router-outlet></router-outlet>
        </main>
        <clr-vertical-nav [clr-nav-level]="1">
            <a clrVerticalNavLink routerLink="home" routerLinkActive="active">Home</a>
            <a clrVerticalNavLink routerLink="/games" routerLinkActive="active">Games</a>
            <a clrVerticalNavLink routerLink="/favorites" routerLinkActive="active">Favorites</a>
            <a clrVerticalNavLink routerLink="/help" routerLinkActive="active">About Us</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/auth/login" routerLinkActive="active">Sign in</a>
            <a clrVerticalNavLink routerLink="/auth/register" routerLinkActive="active">Sign Up</a>
        </clr-vertical-nav>
    </div>
</clr-main-container>
