<clr-main-container>
    <clr-header> ... </clr-header>
    <div class="content-container">
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
        <clr-vertical-nav [clr-nav-level]="1">
            <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">inicio</a>
            <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active">juegos</a>
            <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">favoritos</a>
            <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active">acerca de</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">iniciar sesion</a>
            <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">registrarse</a>
        </clr-vertical-nav>
    </div>
</clr-main-container>
