.info-primary {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__thumbnail {
        margin-top: 0.5rem;
        align-self: center;
        img {
            width: 100%;
        }
    }

    &__title {
        text-align: center;
        font-weight: 600;
        letter-spacing: 1.2px;
    }

    &__description {
        p {
            text-align: center;
            letter-spacing: 1.1px;
        }
    }
    &__tags {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}
